{% load core_accounts %}
  <div data-core-field data-field-name="{{ field.name }}" class="native-field" {% if field.errors %}data-invalid="true"{% endif %}>
    {% if suppress_help %}{{ field|field_schema:True|json_script }}{% else %}{{ field|field_schema|json_script }}{% endif %}
    <div data-field-fallback>
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text and not suppress_help %}<div class="helptext" id="{{ field.auto_id }}_helptext">{{ field.help_text|safe }}</div>{% endif %}
      {% if field.errors %}<div class="field-errors" id="{{ field.auto_id }}_error" role="alert">{{ field.errors }}</div>{% endif %}
    </div>
  </div>
