{% extends "account/base_entrance.html" %}
{% load core_accounts %}
{% block head_title %}Войти{% endblock %}
{% block content %}
<h1>Войти в аккаунт</h1>
<p>Выберите удобный способ входа</p>
{% include "accounts/ui/login_options.html" %}
{% core_login_panels form %}
{% if registration_enabled %}<div class="entrance-secondary">Нет аккаунта? <a href="{{ signup_url }}">Создать аккаунт</a></div>{% endif %}
{% endblock %}
{% block extra_body %}{{ block.super }}{% if passkey_login_enabled %}{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}{% endif %}{% endblock %}
