{% load allauth %}
<{% if attrs.href %}a href="{{ attrs.href }}"{% else %}button{% endif %}
class="button{% if 'outline' in attrs.tags or 'secondary' in attrs.tags %} button-outline{% endif %}{% if 'danger' in attrs.tags %} button-danger{% endif %}"
{% if attrs.form %}form="{{ attrs.form }}"{% endif %}
{% if attrs.id %}id="{{ attrs.id }}"{% endif %}
{% if attrs.name %}name="{{ attrs.name }}"{% endif %}
{% if attrs.value is not None %}value="{{ attrs.value }}"{% endif %}
{% if attrs.type %}type="{{ attrs.type }}"{% endif %}
{% if attrs.disabled %}disabled{% endif %}
{% if attrs.id == 'mfa_webauthn_signup' or attrs.id == 'mfa_webauthn_add' or attrs.id == 'mfa_webauthn_authenticate' or attrs.id == 'mfa_webauthn_reauthenticate' %}disabled data-webauthn-pending{% endif %}>
{% slot %}{% endslot %}
</{% if attrs.href %}a{% else %}button{% endif %}>
